body {
  font-family: Courier New, Courier, monospace;
  font-size: 16px;
  line-height: 1.2;
}


nav {
 background: #eebb44;
 position: relative;
 top: -30px;
 left: 0;
 padding-left: 10px;
 padding-top: 20px;
}

.subTitle {
  font-weight: 700;
  position: relative;
  top: -20px;
}

img {
  width: 100%;
}

.profiles {
  border: 1px lightgray solid;
  margin-bottom: 4.2%;
}
.nice {
  padding-left: 8px;
}

@media (min-width: 640px) {
  
  nav {
  background: #eebb44;
  position: relative;
  top: -30px;
  left: 0;
  padding-left: 240px;
  padding-top: 20px;
  }
}